@model JZWineNB.Models.Wine

@{
    ViewBag.Title = "Create";
}

<h3>Create Wine Detail</h3>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       <span class="denote">* mandatory fields</span> 
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name,"Name *", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WineType,"Type *" ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div>
                    @Html.Label("Red", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.RadioButtonFor(model => model.WineType, "Red", new { value = "Red" })
                    @Html.Label("White")
                    @Html.RadioButtonFor(model => model.WineType, "White", new { value = "White" })
                    @Html.Label("Rose")
                    @Html.RadioButtonFor(model => model.WineType, "Rose", new { value = "Rose" })
                    
                </div>
                @Html.ValidationMessageFor(model => model.WineType, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Grape, "Grape *",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Grape, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Grape, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Region, " Region *" ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Region, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country, "Country *", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country ,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, 6, 300, new { htmlAttributes = new { @class = "Description" } })                
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Body, new SelectList(new[] { "Full", "Medium", "Light", "Dry", "Medium Dry", "Sweet" }), "Select...")                
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlcoholVol, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlcoholVol, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AlcoholVol, "", new { @class = "text-danger" })
            </div>
        </div>
        <fieldset hidden>
            <div class="form-group">
                @Html.LabelFor(model => model.RateOverall, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RateOverall, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RateOverall, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            @Html.LabelFor(model => model.WineImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WineImage, new { htmlAttributes = new { @class = "form-control" } })

                @*/* build a pop up modal for image url instructions */*@
                <span class="btn btn-success" data-toggle="modal" data-target=".infoModal">
                    <span class="glyphicon glyphicon-info-sign"></span> info
                </span>
                <div class="modal fade infoModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                @*<button data-dissmiss="modal" class="close"></button>*@
                                <div class="modal-title">Instructions on uploading image link</div>

                            </div>
                            <div class="modal-body">
                                <p>1. search for your wine image on the internet</p>
                                <p>2. click on the wine image you want, right click and select "copy image address"</p>
                                <p>3. paste the image address onto the Wine Image URL field</p>
                            </div>
                            <div class="modal-footer">
                                @*<button class="btn btn-default" data-dissmiss="modal">close</button>*@
                                <p><strong> click anywhere outside the pop up to close </strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.WineImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
